/*MENU*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
}

a {
  color: #aa011c;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}
.header {
  width: 100%;
  padding: 8px 50px;
}
.logo img{
  width: 130px;
  height: 91px;
  letter-spacing: 4px;
}
.mobile-menu-icon {
  display: none;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: system-ui, Helvetica, Arial, sans-serif;
  background: #fff;
}

.desktop-nav-list {
  list-style: none;
  display: flex;
}

.desktop-nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.desktop-nav-list li a:hover {
  border-bottom: 2px solid #aa011c;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

/*Primeiro-Div*/
.primeira-imagem {
  background-image: url("./imagem-principal-oficial.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #cccccc;
  min-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.inicial-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  max-width: 860px;
  padding: 2rem;
  gap: 24px;
  z-index: 200;
}
.title {
  font-size: 4rem;
  color: #fff;
}

.btn-acesso {
  width: 60%;
  height: 50px;
  border-radius: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #aa011c;
  border: 2px solid black;
  font-family: sans-serif;
  cursor: pointer;
}

.btn-acesso:hover {
  transform: translateY(-5px);
  transition: 1s;
}

/*SLIDE*/

.slider {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 100px;
}

.slides {
  width: 500%;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 3s;
}

.slide img {
  width: 100%;
  height: auto;
}

/*css for manual slide navigation*/

.navigation-manual {
  position: relative;
  width: 100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 7px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
  margin-bottom: 10px;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #24262b;
}

#radio1:checked ~ .first {
  margin-left: 0%;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*CUBOS-TODOS*/

.cubos-todos {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
  padding: 1rem;
}

.cubo-grande {
  width: 100%;
  border-radius: 6px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  animation: cubo-animation 5s infinite;
  margin-top: 40px;
  min-height: 300px;
}

.cubo-grande img{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes cubo-animation {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

.cubo-menor {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}

.cubo-pequeno {
  border-radius: 12px;
  display: inline-block;
  border: 3px solid black;
}

.cubo-pequeno:hover {
  transform: translate(-5px, -5px);
  transition: 0.5s;
}

.cubo-pequeno img {
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
}

/*H6*/
h6 {
  font-size: 3rem;
  color: #aa011c;
  justify-content: center;
  align-items: center;
  display: flex;
  font-family: sans-serif;
  margin-top: 300px;
  margin-bottom: 50px;
}

/*CARD Vertical*/

h3 {
  margin-top: 20px;
  font-size: 1.2rem;
}

.centraliza-card {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  font-family: sans-serif;
}
.card-flip {
  position: relative;
}
.card-flip > .front,
.card-flip > .back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}
.card-flip > .front {
  transform: rotateX(0deg);
  padding: 0;
}
.card-flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateX(-180deg);
  padding: 2rem 1rem;
}
.card-flip:hover > .front {
  transform: rotateX(180deg);
}
.card-flip:hover > .back {
  opacity: 1;
  transform: rotateX(0deg);
}
.card-flip {
  position: relative;
  display: inline-block;
  max-width: 360px;
  width: 100%;
}

.card-flip img {
  width: 100%;
  padding: 0;
  height: 80%;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.card-flip > .front,
.card-flip > .back {
  display: block;
  color: #800000;
  width: 100%;
  background-size: cover !important;
  background-position: center !important;
  height: 320px;
  background: #fff;
  border-radius: 10px;
  border: 5px solid black;
}
.card-flip > .front p,
.card-flip > .back p {
  font-size: 1em;
  line-height: 160%;
  color: #24262b;
  margin-bottom: 5px;
}

.back p {
  margin-top: 30px;
}

h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-shadow {
  justify-content: center;
  display: flex;
}

/*PARALLAX*/
/*parallax*/

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: absolute;
}

section.module p {
  margin-bottom: 40px;
}

.carousel-section {
  display: block;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
}

/*Content-Informativo*/
section.module.content {
  margin-top: 150px;
}

/*COR DE FUNDO - PARALLAX*/
.module-parallax-1 {
  display: block;
  background-color: #fff;
}

.module-parallax-2 {
  background-color: #fff;
  padding: 2rem 0;
}

/*CARD-Comentarios*/
.profile-card {
  width: 100%;
  max-width: 360px;
  height: auto;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font-family: sans-serif;
  margin-top: 28px;
}
.depoimentos {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 36px;
}
.profile-body:hover {
  transform: translateY(-20px);
  transition: 1s;
}

.profile-card .profile-header img {
  width: 100%;
  max-height: 150px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.profile-card .profile-body {
  background-color: #fff;
  border-radius: 18px;
  border: 3px solid black;
}
.profile-card .profile-body .img-perfil {
  margin-top: -85px;
  margin-bottom: 20px;
}
.profile-card .profile-body .img-perfil img {
  width: 120px;
  height: 120px;

  border-radius: 50%;
  padding: 3px;
  background-color: #ededed;
}
.profile-card .profile-body .titulo {
  font-size: 30px;
  color: #aa011c;
}
.profile-card .profile-body .descricao {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.6;
  padding: 5px 20px;
}

/*FOOTER*/
.footer-container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col ul {
  list-style: none;
  padding-inline-start: 0px;
}
.footer {
  background-color: #24262b;
  padding: 70px 0;
  margin-top: 100px;
  font-family: sans-serif;
}
.footer-col {
  width: 25%;
  height: 200px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #aa011c;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #aa011c;
}

/*Responsividade*/

/*FOOTER Responsivo*/
@media (max-width: 800px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
  .header {
    padding: 12px 18px;
  }
  .mobile-menu-icon {
    display: flex;
  }
  .desktop-nav-list {
    display: none;
  }
  .inicial-content {
    width: 100%;
  }
  .title {
    font-size: 2rem;
    color: #fff;
  }
  .btn-acesso {
    width: 100%;
  }
  .primeira-imagem {
    min-height: 300px;
  }
  .cubos-todos {
    flex-direction: column;
  }
  .cubo-menor {
    grid-template-columns: 1fr;
    gap: 24px;
  } 
}
@media (max-width: 600px) {
  .footer-col {
    width: 100%;
  }
  .cubo-grande{
    min-width: 200px;
  }
}

@media (max-width: 419px){
  .cubo-grande{
    min-width: 200px;
    min-height: 200px;
  }
  .cubo-grande img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
  }
}
@media (max-width: 325px){
  .btn-acesso{
    font-size: 0.9rem;
  }
}

@media (max-width: 297px){
  .btn-acesso{
    font-size: 0.8rem;
  }
}

@media (max-width: 288px){
  .cubo-grande img{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}